@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 5rem;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 3rem 10%;
  gap: 1rem;
}

.text h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.text p {
  color: var(--color-text-light);
  font-size: 1rem;
  letter-spacing: 1.5px;
  line-height: 2.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.link span {
  display: flex;
  align-items: center;
  background-color: var(--color-dark);
  border-radius: 100%;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.link img {
  width: 1.8rem;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}
