@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.skills {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  height: max-content;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
}

.skillImageContainer img {
  width: 3rem;
}

.skill p {
  font-size: 1.2rem;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.history {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.historyItem {
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
  gap: 1rem;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 1rem;
  padding: 1rem;
}

.historyHeader {
  display: flex;
  flex-direction: row;
}

.historyItem .historyHeader img {
  width: 50px;
  margin-right: 1rem;
}

.historyHeaderItems {
  display: flex;
  flex-direction: column;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyHeaderItems h3 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

.historyHeaderItems p {
  font-size: 1rem;
}

.historyItemDetails ul {
  list-style-position: inside;
  font-size: 1.2rem;
  list-style-type: disc;
  margin-left: 1rem;
}

.historyItemDetails li {
  line-height: 2rem;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 1rem;
  }
}
