* {
  box-sizing: border-box; /* border is considered when calculating widht and height of the object*/
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
